* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: #16141f;
  --surface: #1f1d2e;
  --text: #e0def4;
  --love: #eb6f92;
  --gold: #f6c177;
  --rose: #ebbcba;
  --pine: #31748f;
  --foam: #9ccfd8;
  --iris: #c4a7e7;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('./SourceCodePro-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Source Code Pro';
  background-color: var(--bg);
  color: var(--text);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
}

h1 { font-size: 4.5rem; }
h2 { color: var(--iris); }

.rose { color: var(--rose); } 
.iris { color: var(--iris); }
.foam { color: var(--foam); }

#link-boxes {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
}

.link-box {
  background-color: var(--surface);
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  & > a {
    text-decoration: none;
    color: var(--foam);

    &:hover {
      color: var(--pine);
    }
  }
}

input {
  padding: .5rem;
  font-size: 1rem;
  font-family: inherit;
  border-radius: 5px;
  outline: none;
  background-color: var(--bg);
  color: var(--text);
  border: 1px solid var(--foam);
  padding: .5rem;
  width: 15rem;

  &:focus {
    border: 1px solid var(--iris);
  }
}

#search-btn {
  padding: .5rem;
  background-color: var(--bg);
  color: var(--text);
  font-family: inherit;
  font-size: 1rem;
  border: 1px solid var(--foam);
  border-radius: 5px;

  &:hover {
    background-color: var(--iris);
    border: 1px solid var(--bg);
    color: var(--bg);
  }
}

.hero {
  position: absolute;
  bottom: 0;
  padding-bottom: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.hero-link {
  text-decoration: none;
  color: var(--foam);

  &:hover {
    color: var(--pine);
  }
}

@media screen and (max-width: 600px) {
  body { gap: 1rem; }
  h1 { font-size: 3rem; }

  #link-boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .7rem;
    padding-inline: 1.5rem;
  }

  .link-box { padding-inline: 1rem;; }

  .hero {
    padding-bottom: .5rem;
    gap: .3rem;
  }
}
